body {
    font-family: Arial, sans-serif;
    background-color: #7ddeef;
    margin-top: 100px;
    padding: 0;
}

.container {
    width: 60%;
    margin: 40px auto;
    background-color: rgb(71, 172, 235);
    padding: 25px 0px 40px 0px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    margin-right: 5px;
    transition: background 0.3s ease;
}

.nav a:hover {
    background-color: #483434;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #1e4020;
}

.flash {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
}

/* Success message style */
.flash.success {
    background-color: #73f792;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Error message style */
.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}